body  {
  background-color: grey;
}

@font-face {
  font-family: 'FrederickatheGreat-Regular';
  src: url('../font/FrederickatheGreat-Regular.ttf');
}

p, h1 {
  color: white;
  font-family: 'FrederickatheGreat-Regular', cursive;
}
